Screen {
    background: $surface;
}

#search {
    dock: top;
}

#commands {
    height: 1fr;
}

#fields {
    height: 1fr;
    padding: 1 2;
}

.field {
    height: auto;
    margin-bottom: 1;
}

MultiInput {
    height: auto;
}

#preview {
    dock: bottom;
    height: auto;
    padding: 1 2;
    background: $panel;
    color: $success;
}
